<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white ">
    <div class="container pt-1">
      <a class="navbar-brand fw-medium d-flex" href="#">
        <span class="title mt-2 text-center">
          M0VIE<br />
          <span class="navbar-brand-2 subtitle">APP</span>

        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person fs-4" ></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item wl" routerLink="watchlist">My Watchlist</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<hr class="container opacity-100">


