<div class="container">
  <h1 class="text-center mb-3">Movie detail</h1>
  <div class="card mb-3">
    <div class="card-header">{{movieDetail?.title}}</div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{movieDetail?.image}}" class="img-fluid " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-body d-flex flex-column">
            <p class="card-text"><span class="fw-bold">Rating:  </span><span class="badge">{{movieDetail?.rating}}</span></p>
            <p class="card-text"><span class="fw-bold">Trailer: </span><a class="link-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here to watch the trailer!</a></p>
            <p class="card-text"><span class="fw-bold">Duration:  </span><span>{{formatDuration()}}</span></p>
            <p class="card-text"><span class="fw-bold">Released date:  </span><span>{{movieDetail?.releasedDate | date: 'longDate' }}</span></p>
            <h4 class="text-center fw-bold">Description:</h4>
            <p >{{movieDetail?.description}}</p>
          </div>
            </div>

      </div>
    </div>
    <div class="card-footer bg-transparent"><span class="fw-bold">Genre:  </span>{{movieDetail?.genre}}</div>
  </div>
</div>



<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"v>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 800px; max-height: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body" style="height: 500px">

        <iframe

          #videoIframe
          [src]="videoUrl"
          allowfullscreen
          class="w-100 h-100 border-0">
        </iframe
>
      </div>
    </div>
  </div>
</div>
